PYDENTITY_DATABASE_URL=postgresql+asyncpg://pydentity:pydentity@localhost:5432/pydentity
PYDENTITY_JWT_PRIVATE_KEY_PATH=keys/
PYDENTITY_JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
PYDENTITY_REFRESH_TOKEN_EXPIRE_DAYS=30
PYDENTITY_BCRYPT_WORK_FACTOR=12
PYDENTITY_APP_HOST=0.0.0.0
PYDENTITY_APP_PORT=8000
